@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- start header section -->
<section id="header">
    <div class="header-top">
        <div class="container">
            <div class="header-navbar-posion d-flex align-items-center justify-content-between">
                <div class="col-md-4 d-lg-none d-xl-none">
                    <div class="header-navbar">
                        <div class="header-navbar-bottom">
                            <div class="container position-relative">
                                <div class="row align-items-center justify-content-start">
                                    <div class="col-md-4 d-lg-none d-xl-none">
                                        <div class="header-top-menu">
                                            <!-- Nút mở menu -->
                                            <div class="header-btn-categorie dropdown"
                                                 id="menuToggle">
                                                <i class="bi bi-list"></i>
                                            </div>

                                            <!-- Overlay (nền mờ) -->
                                            <div id="overlay" class="overlay"></div>

                                            <!-- Menu bên trái -->
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="header-account-shop col-lg-4 col-md-2">
                    
                    
                    

                </div>
            </div>
        </div>
    </div>

    <div class="header-navbar">
        <div class="header-navbar-bottom">
            <div class="container position-relative">
                <div class="row align-items-center justify-content-start">
                    
                    <div class="row-col-lg-12 col-xl-9 d-none d-lg-block d-xl-block">
                        <div class="header-navbar-menu">
                            <div class="header-navbar-menu-list d-flex">
                                <div class="navbar-menu">
                                    <div id="navbar">
                                        <nav class="navbar-main">
                                            <ul class="navbar-ul">
                                                <li class="">
                                                    <a asp-action="Index" asp-controller="Category">Quản Lý Danh Mục</a>
                                                </li>
                                                
                                                <li><a asp-action="Index" asp-controller="Product">Quản Lý Sản Phẩm</a></li>
                                                <li><a asp-action="Index" asp-controller="Order">Quản Lý Đơn Hàng</a></li>
                                                <li><a asp-action="Index" asp-controller="User">Quản Lý Tài Khoản</a></li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end header section -->
