@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- start footer section -->
<section id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-top-content footer-contact">
                        <div class="footer-logo">
                            <a href="" class="footer-logo-a">
                                <img src="/image/logo.webp" alt="" />
                            </a>
                            <li class="footer-address">
                                <i class="bi bi-geo-alt"></i>
                                <div class="footer-add-p">
                                    <p>Công Ty Cổ Phần Cici Thượng Đỉnh Yến</p>

                                    <p>
                                        Địa chỉ : Số 2 Ngõ 29 Đặng Văn Ngữ, Phường Trung Tự,
                                        Quận Đống Đa, TP Hà Nội
                                    </p>

                                    <p>Mã Số Thuế : 0107880445</p>

                                    <p>Chi nhánh cửa hàng :</p>

                                    <p>
                                        Cửa hàng 1 : 110 Phố Huế, Phường Ngô Thì Nhậm, Quận Hai
                                        Bà Trưng, TP Hà Nội
                                    </p>

                                    <p>
                                        Cửa hàng 2 : 512 Đường 3/2, Phường 14, Quận 10, TP Hồ
                                        Chí Minh
                                    </p>

                                    <p>
                                        Cửa hàng 3 : 214 Trần Duy Hưng, Phường Trung Hòa, Quận
                                        Cầu Giấy
                                    </p>

                                    <p>
                                        Cửa hàng: 349 Hoàng Văn Thụ, phường 2, quận Tân Bình,
                                        thành phố Hồ Chí Minh
                                    </p>
                                </div>
                            </li>
                            <li class="footer-address">
                                <i class="bi bi-telephone"></i>
                                <p>039.908.6568</p>
                            </li>
                            <li class="footer-address">
                                <i class="bi bi-envelope"></i>
                                <p>thuongdinhyen@gmail.com</p>
                            </li>
                            <div class="footer-logo-bct">
                                <a href="#">
                                    <img src="/image/logo-bct.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row">
                        <div class="footer-title-mg col-12 col-md-6 col-lg-6">
                            <h3 class="footer-title">
                                <span> Hướng dẫn </span>
                            </h3>
                            <div class="footer-top-content">
                                <ul class="footer-top-menu">
                                    <li class="item"><a href="">Tìm kiếm</a></li>
                                    <li class="item"><a href="">Giới thiệu</a></li>
                                    <li class="item"><a href="">Chính sách đổi trả</a></li>
                                    <li class="item"><a href="">Chính sách bảo mật</a></li>
                                    <li class="item"><a href="">Điều khoản dịch vụ</a></li>
                                    <li class="item"><a href="">Liên hệ</a></li>
                                    <li class="item"><a href="">Chính Sách Vận Chuyển</a></li>
                                    <li class="item"><a href="">Chính sách thanh toán</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h3 class="footer-title">
                        <span> Đăng ký nhận email </span>
                    </h3>
                    <div class="footer-content">
                        <div class="footer-top-form">
                            <p>Hãy nhập email của bạn vào đây để nhận tin mới nhất!</p>
                            <form action="">
                                <label for="email" class="visually-hidden">Email</label>
                                <!-- <input type="email" class="form-control" id="email" placeholder="Email"> -->
                                <div class="input-group d-flex flex-nowrap">
                                    <input type="email" value="" placeholder="Nhập Email" />
                                    <button type="submit">
                                        <i class="bi bi-envelope-fill"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <h3 class="footer-title">
                        <span> Phương thức thanh toán </span>
                    </h3>
                    <div class="footer-conter footer-payment">
                        <ul class="payment-list d-flex">
                            <li>
                                <a href="">
                                    <img class="footer-width-auto"
                                         width="52"
                                         height="37"
                                         src="/image/tt-m.png"
                                         alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img class="footer-width-auto"
                                         width="52"
                                         height="37"
                                         src="/image/tt-visa.png"
                                         alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img class="footer-width-auto"
                                         width="52"
                                         height="37"
                                         src="/image/tt-jcb.png"
                                         alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img class="footer-width-auto"
                                         width="52"
                                         height="37"
                                         src="/image/tt-vnpay.webp"
                                         alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img class="footer-width-auto"
                                         width="52"
                                         height="37"
                                         src="/image/tt-napas.png"
                                         alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <h3 class="footer-title">
                        <span> Phương thức vận chuyển </span>
                    </h3>

                    <ul class="transport-list d-flex">
                        <li>
                            <a href="">
                                <img class="footer-width-auto"
                                     width="52"
                                     height="37"
                                     src="/image/logo-ft-ghtk.webp"
                                     alt=""
                                     class="footer-width-auto" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="footer-width-auto"
                                     width="52"
                                     height="37"
                                     src="/image/logo-ft-bee.webp"
                                     alt=""
                                     class="footer-width-auto" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-buttom">
        <div class="container">
            <div class="footer-buttom-wrap">
                <p>
                    Copyright © 2025
                    <a href="">CiCi - Thượng Đỉnh Yến. </a>
                    <a href="">Powered by Haravan</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end footer section -->






