@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- start header section -->
<section id="header">
    <div class="header-top">
        <div class="container">
            <div class="header-navbar-posion d-flex align-items-center justify-content-between">
                <div class="col-md-4 d-lg-none d-xl-none">
                    <div class="header-navbar">
                        <div class="header-navbar-bottom">
                            <div class="container position-relative">
                                <div class="row align-items-center justify-content-start">
                                    <div class="col-md-4 d-lg-none d-xl-none">
                                        <div class="header-top-menu">
                                            <!-- Nút mở menu -->
                                            <div class="header-btn-categorie dropdown"
                                                 id="menuToggle">
                                                <i class="bi bi-list"></i>
                                            </div>

                                            <!-- Overlay (nền mờ) -->
                                            <div id="overlay" class="overlay"></div>

                                            <!-- Menu bên trái -->
                                            <div id="sideMenu" class="side-menu">
                                                <div class="header-top-side">
                                                    <ul class="header-top-navbar-side">
                                                        <div class="header-top-close">
                                                            <span class="close">
                                                                <i class="bi bi-x"></i>
                                                            </span>
                                                        </div>
                                                        <li><a href="./index.html">Trang chủ</a></li>
                                                        <li>
                                                            <a href="#">
                                                                Sản phẩm
                                                                <i class="hd-top-mb-right bi bi-chevron-right"></i>
                                                            </a>
                                                            <ul class="hd-top-mb-ul">
                                                                <li>
                                                                    <a href="./to-yen.html"> Tổ yến </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/collection/toyentho.html">
                                                                        Yến chưng tươi
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href=""> Yến chưng sẵn </a>
                                                                </li>
                                                                <li>
                                                                    <a href=""> CiCi Skin Aura </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/collection/yencaocap.html">
                                                                        Set quà biếu cao cấp
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href=""> Fer Valley </a>
                                                                </li>
                                                                <li>
                                                                    <a href=""> Sét quà tết </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Khuyến mãi</a></li>
                                                        <li><a href="#">Tin tức</a></li>
                                                        <li><a href="#">Liên hệ</a></li>
                                                        <li><a href="#">Về chúng tôi</a></li>
                                                        <li><a href="#">Chính sách đại lý</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-img-logo col-lg-1 col-md-6">
                    <a href="#">
                        <img src="/image/logo.webp" alt="logo" />
                    </a>
                </div>

                <div class="header-search col-lg-7 d-none d-lg-block d-xl-block">
                    <div class="header-search-from">
                        <div class="header-search-narbar">
                            <div class="header-input">
                                <div class="search-1">
                                    <p id="searchError" class="search-error-text">
                                        ! Vui lòng điền vào trường này
                                    </p>
                                </div>
                                <input id="searchInput"
                                       class="header-input-search"
                                       placeholder="Trao gửi tri ân - Nhận niềm vui mới"
                                       type="text" />
                                <button id="searchBtn"
                                        class="header-input-button"
                                        type="submit"
                                        aria-label="Tìm Kiếm">
                                    <i class="ti-search"></i>
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                        <div class="header-search-text">
                            <span><a href="#">Thượng Vy Yến biển</a></span>
                            <span><a href="/to-yen.html">Tổ yến</a></span>
                            <span><a href="#">Yến chưng tươi</a></span>
                            <span><a href="#">Yến chưng sẵn</a></span>
                            <span><a href="#"> Sữa Hạt Tổ Yến</a></span>
                        </div>
                    </div>
                </div>

                <div class="header-account-shop col-lg-4 col-md-2">
                    <div class="header-account">
                        <div class="header-account-icon">
                            <a href="./login.html">
                                <i class="bi bi-person"></i>
                            </a>
                        </div>
                        <div class="header-account-text d-none d-lg-block d-xl-block">
                            <div class="header-account-a">
                                <span><a href="./login.html">Đăng nhập</a></span>
                                <span><a href="#">/</a></span>
                                <span><a href="./register.html">Đăng ký</a></span>
                            </div>
                            <div class="header-account-span">
                                <span> Tài khoản </span>
                            </div>
                        </div>
                    </div>
                    @* <div class="header-shop">
                        <a asp-action="Index" asp-controller="Cart" class="d-flex">

                            <div class="header-shop-icon">
                                <i class="bi bi-cart3"></i>
                            </div>
                            <div class="header-shop-text d-none d-lg-block d-xl-block">
                                <span>Giỏ hàng</span>
                                <span class="header-shop-text-span">của bạn</span>
                            </div>
                                <span class="header-shop-order">
                                <span class="header-shop-order-number"> 0 </span>
                            </span>
                        </a>
                        <div class="header-action-dropdown">
                            <div class="header-action-content">
                                <div class="header-action-site">
                                    <div class="hd-action-cart-view">
                                        <div class="hd-action-view-scroll">
                                            <table id="cart-view">
                                                <tbody>
                                                    <tr class="item">
                                                        <td class="img">
                                                            <a href="">
                                                                <img src="/image/set-qua-cao-cap.webp" alt="">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <p class="cart-pro-title">
                                                                <a href="" class="cart-pro-title-view">
                                                                    Yến Chưng Nguyên Vị-Set 18 Yến Chưng Sẵn Cao PhẩmPhẩm
                                                                </a>
                                                                <span class="variant">
                                                                    Truyền Thống Nguyên Vị
                                                                </span>
                                                            </p>
                                                            <div class="cart-pro-quantity">
                                                                <div class="cart-pro-qtity-view">
                                                                    <span class="qty-value">1</span>
                                                                </div>
                                                                <div class="pro-price-view">
                                                                    1,909,000đ
                                                                </div>
                                                            </div>
                                                            <div class="remove-link">
                                                                <a href=""><i class="bi bi-x"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="line"></div>

                                        <div class="cart-view-total">
                                            <table class="table-total">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left">TỔNG TIỀN:</td>
                                                        <td class="text-right">1,909,000đ</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="linktocart " href="/cart.html">Xem giỏ hàng</a>
                                                        </td>
                                                        <td>
                                                            <a class="linktocheckout " href="">Thanh toán</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> *@
                    @await Component.InvokeAsync("MiniCart")

                </div>
            </div>
        </div>
    </div>

    <div class="header-navbar">
        <div class="header-navbar-bottom">
            <div class="container position-relative">
                <div class="row align-items-center justify-content-start">
                    <div class="col-xl-3 row-col-lg-12 d-none d-lg-block d-xl-block">
                        <div class="header-btn-menu">
                            <div class="header-btn-categories">
                                <i class="header-btn-categories-list bi bi-list"></i>
                                <div class="header-btn-ctg-span">
                                    <span>Danh Mục</span>
                                    <span class="header-btn-ctg-text"> Sản Phẩm </span>
                                </div>
                            </div>
                            <div class="header-btn-navbar">
                                <ul class="header-btn-navbar-menu">
                                    <vc:categories></vc:categories>
                          @*           <li>
                                        <a href="">
                                            <span class="icon">
                                                <img src="/image/logo-yen-chung-san.webp"
                                                     alt=""
                                                     class="ls-is-cached" />
                                            </span>
                                            <span>Yến Chưng Sẵn</span>
                                            <i class="ti-angle-right"></i>
                                        </a>

                                        <ul class="header-btn-bg-img header-btn-bg-hover"
                                            style="
                            --bg-sidebar: url('/image/bg-yen-chung-san.png');
                          ">
                                            <li><a href="">Yến Chưng Sẵn Cao Phẩm</a></li>
                                            <li><a href="">Yến Chưng Sẵn Thượng Phẩm</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <img src="/image/logo-cici.webp"
                                                     alt=""
                                                     class="ls-is-cached" />
                                            </span>
                                            <span>CiCi Skin Aura</span>
                                            <i class="ti-angle-right"></i>
                                        </a>
                                        <ul class="header-btn-bg-img header-btn-bg-hover"
                                            style="--bg-sidebar: url('./image/bg-cici.png')">
                                            <li><a href="">Una Collagen Palcenta Nest</a></li>
                                            <li><a href="">Una Collagen</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <img src="/image/logo-set-qua.webp"
                                                     alt=""
                                                     class="ls-is-cached" />
                                            </span>
                                            <span>Set Quà Biếu Cao Cấp</span>
                                            <i class="ti-angle-right"></i>
                                        </a>
                                        <ul class="header-btn-bg-img header-btn-bg-hover"
                                            style="--bg-sidebar: url('/image/bg-set-qua.png')">
                                            <li><a href="">Set Ngọc Yến Kim Miêu 9 Món</a></li>
                                            <li><a href="">Set Ngọc Yến Kim Miêu 10 Món</a></li>
                                            <li><a href="">Set Ngọc Yến Kim Miêu 11 Món</a></li>
                                            <li><a href="">Vạn Thế Vương Giả 1</a></li>
                                            <li><a href="">Vạn Thế Vương Giả 2</a></li>
                                            <li><a href="">Set Quà Rượu Fer Valley</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <img src="/image/logo-qua-tet.webp"
                                                     alt=""
                                                     class="ls-is-cached" />
                                            </span>
                                            <span>Set Quà Tết</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <img src="/image/logo-fer.webp"
                                                     alt=""
                                                     class="ls-is-cached" />
                                            </span>
                                            <span>Fer Valley</span>
                                            <i class="ti-angle-right"></i>
                                        </a>
                                        <ul class="header-btn-bg-img header-btn-bg-hover"
                                            style="--bg-sidebar: url('/image/bg-fer.png')">
                                            <li><a href="">RƯỢU HOA QUẢ</a></li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row-col-lg-12 col-xl-9 d-none d-lg-block d-xl-block">
                        <div class="header-navbar-menu">
                            <div class="header-navbar-menu-list d-flex">
                                <div class="navbar-menu">
                                    <div id="navbar">
                                        <nav class="navbar-main">
                                            <ul class="navbar-ul">
                                                <li class="">
                                                    <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                                                </li>
                                                @await Component.InvokeAsync("NavbarCategories")

                                                <li><a href="">Khuyến Mãi</a></li>
                                                <li><a href="">Tin Tức</a></li>
                                                <li><a href="">Liên Hệ</a></li>
                                                <li><a href="">Về Chúng Tôi</a></li>
                                                <li><a href="">Chính Sách Đại Lý</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end header section -->
