
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tài Khoản -CiCi-Thượng Đình Yến</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="~/bootstrap-5.3.6-dist/css/bootstrap.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/resposive.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/to-yen.css" />
    <link rel="stylesheet" href="~/css/product.css" />
    <link href="~/css/cart.css" rel="stylesheet" />
</head>
<body>
    <!-- ✅ Gắn _Header.cshtml tại đây -->
    @Html.Partial("_Header")

            @RenderBody()

    <!-- Gắn footer nếu có -->
    @Html.Partial("_Footer")
    


    @await Component.InvokeAsync("AddToCart")



    <script src="~/js/search.js"></script>
    <script src="~/bootstrap-5.3.6-dist/js/bootstrap.js"></script>
    <script src="~/js/time.js"></script>
    <script src="~/js/containerProduct.js"></script>
    <script src="~/js/collection.js"></script>
    <script src="~/js/product-top.js"></script>
    <script src="~/js/order.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>

    </script>

</body>
</html>

