/* Hiển thị 2 sản phẩm trên màn hình nhỏ */
@media (max-width: 767.98px)
{
  .cn-top-pdt-h{
    font-size: 12px;
  }

  .heading-left-title{
    font-size: 16px;
  }
  .container-home-pdt,
  .container-home-pdt-featured,
  .container-home-pdt-gratitude,
  .container-home-pdt-gift,
  .container-home-pdt-btn,
  .container-home-pdt-other,
  .container-home-pdt-news {
  flex: 0 0 calc((100% - 16px) / 2);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    max-width: 50%;

  }
  
}

/* Hiển thị 3 sản phẩm trên màn hình vừa */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container-home-pdt,
  .container-home-pdt-featured,
  .container-home-pdt-gratitude,
  .container-home-pdt-gift,
  .container-home-pdt-btn,
  .container-home-pdt-other,
  .container-home-pdt-news{
  flex: 0 0 calc((100% - 16px) / 2);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center;
        max-width: 100%;
  }
}

/* Hiển thị 4 sản phẩm trên màn hình lớn */
@media (min-width: 992px) {
  .container-home-pdt,
  .container-home-pdt-featured,
  .container-home-pdt-gratitude,
  .container-home-pdt-gift,
  .container-home-pdt-btn,
  .container-home-pdt-other,
  .container-home-pdt-news {
  flex: 0 0 calc((100% - 3 * 16px) / 4);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    text-align: center;
    max-width: 100%;
  }
}
